@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.navlinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 100px;
    height: 50px;
    margin: 20px;
    margin-top: 15px;
    cursor: pointer;
}
.btns button{
    border: none;
    padding: 10px 25px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    margin: 20px;
    animation: btn 3s infinite alternate;
    cursor: pointer;
}
@keyframes btn{
    from{
        transform: translateX(20px);
    }
    to{
        transform: translateX(-20px);
    }
}
.btns button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-text h1{
    font-size: 3rem;
    font-weight: bold;
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}
.banner-text span{
    color: black;
}
.banner-text button{
    cursor: pointer;
    border: none;
    padding: 15px 35px;
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    margin-top: 5px;
    
}
.banner-text button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
hr{
    margin-top: 20px;
}
.lan{
    margin-top: 20px;
    margin-bottom: 30px;
}
.lan h2{
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.row-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.box-1{
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
.box-1:hover{
    content: "HTML";
    background-color: rgb(40, 35, 35);
    color: white;
    cursor: pointer;
}
.box-1 img{
    width: 300px;
    height: 250px;
}
.box-1 h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about{
    margin-top: 35px;
}
.about h2{
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.row-2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}    
.about-text{
    margin: 50px;
    text-align: left;
}
.about-text h3{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: black;
    letter-spacing: 3px;
}
.about-text span{
    font-size: 40px;
    color: grey;
}
.about-text p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(49, 49, 49);
    line-height: 30px;
}
.about-img img{
    margin: 50px;
}
.about-text h4{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: rgb(49, 49, 49);
    line-height: 30px;
}
.about-text button{
    cursor: pointer;
    border: none;
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin-top: 5px;
    border-radius: 6px;
}
.about-text button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.projects{
    margin-top: 30px;
}
.projects h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: black;
    letter-spacing: 3px;
}
.row-3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-3{
    width: 350px;
    height: 450px;
    margin-top: 30px;
    cursor: pointer;
}
.box-3:hover{
    border-radius: 10px;
    content: "";
  
    color: white;
}
.box-3 img{
    border-radius: 10px;
    width: 350px;
    height: 400px;
}
.box-3 h3{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.poster{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.poster-img img{
    margin-top: 30px;
   width: 800px;
   height: 500px;
   position: relative;
   border-radius: 10px;
   box-shadow: 0px 15px 15px 0px;
}
.footer{
    padding: 30px;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
}
.icons a{
    color: black;
}


























@media only screen and (max-width: 600px){
    .navlinks{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-1{
        margin-bottom: 20px;
    }
    .row-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-3{
        width: 300px;
        height: 400px;
    }
    .box-3 img{
        width: 300px;
        height: 350px;
    }
    .poster-img img{
        width: 350px;
        height: 350px;
    }
}